/* apply a natural box layout model to all elements, but allowing components to change */
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* 2. General settings */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* End */

/* Fonts */
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
/* Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');
/* End */

:root {
  --font01: 'Nunito', sans-serif;
  --font02: 'Cairo', sans-serif;
  --color01: #393E46;
  --color02: #FFFFFF;
  --color03: #FCFFA6;
  --color04: #dd2053;
}


.container {
  width: 80%;
  margin: 0 auto;
}

/*? Component:::: Navbar */
/** Mobil Screen */
.navbar {
  font-family: var(--font01);
  background-color: var(--color01);
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.nav-about {
  width: 30%;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-size: 1.2rem;
  color: var(--color02);
}

.nav-link i {
  margin-left: .3rem;
}

/** Tablet Screen */
@media only screen and (min-width: 768px) {
  .nav-link {
    font-size: 2.1rem;
  }
}

/** Pc Screen */
@media only screen and (min-width: 1366px) {
  .nav-main {
    justify-content: left;
    margin-left: 8rem;
  }

  .nav-link {
    margin-right: 3rem;
  }

  .nav-link:hover {
    color: var(--color04);
  }

  .nav-link i {
    margin-left: .5rem;
  }
}

/*? <------End: Component:::: Navbar */


/*? View:::: MainPage */
.main-flags {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.flags {
  font-family: var(--font01);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.flag {
  width: 100%;
  height: 100%;
}

.flags h2 {
  width: 60%;
  background-color: #343a40ce;
  color: var(--color02);
  position: absolute;
  text-align: center;
  padding: .5rem;
}

@media only screen and (min-width: 768px) {
  .flags h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1366px) {
  .main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
  }

  .flags {
    width: 20%;
    padding: .5rem;
  }

  .flag {
    width: 100%;
  }

  .flags h2 {
    font-size: 1.5rem;
    width: 15%;
    position: absolute;
  }
}



/*? <------End: View:::: MainPage */

/*? View:::: Search Page */
/** Mobil Screen */

.search-page {
  font-family: var(--font02);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-page h2 {
  color: var(--color01);
  font-size: 2rem;
}

.search-page h2 i {
  color: var(--color01);
  font-size: 2.5rem;
  margin-right: 1rem;
  align-items: center;
}

/** Tablet Screen */
@media only screen and (min-width: 768px) {

  .search-page h2 {
    font-size: 3rem;
  }

  .search-page h2 i {
    font-size: 3.2rem;
  }

}

/** Pc Screen */
@media only screen and (min-width: 1366px) {

  .search-page h2 {
    font-size: 4rem;
  }

  .search-page h2 i {
    font-size: 5rem;
  }
}

/** Component:::: Form  */
/** Mobil Screen */
.form {
  font-family: var(--font02);
  margin-top: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-control {
  margin-right: .2rem;
  /*  border-radius: 8px; */
  width: 70%;
  height: 4.5vh;
  border: solid 1px var(--color01);
  text-align: center;
  color: var(--color01);
  text-transform: capitalize;
  font-size: 1.1rem;
}

.btn-search {
  /* border-radius: 8px; */
  width: 30%;
  border: solid 2px var(--color01);
  background-color: var(--color01);
  color: var(--color02);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.alert {
  background-color: #FF4848;
  margin-top: .5rem;
  padding: .3rem 1.2rem .3rem 1.2rem;
  font-size: .7rem;
  font-weight: 200;
  color: var(--color02);
}

.alert i {
  margin-left: .5rem;
}

/*?Card of Countries */
.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: var(--font02);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-top: solid 5px var(--color01);
  border-bottom: solid 5px var(--color01);
  /* border-radius: 12px; */
  margin-top: 1rem;
  width: 90%;
}

.card-img {
  width: 100%;
  /*  border-radius: 12px; */
}

.card-p {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color01);
}

.btn-more {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .3rem;
  border: none;
  /* border-radius: 10px; */
  background-color: var(--color01);
  color: var(--color02);

}



/** Tablet Screen */
@media only screen and (min-width: 768px) {
  .form-control {
    height: 5vh;
    font-size: 1.4rem;
  }

  .form-control {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .btn-search {
    font-size: 1.8rem;
  }

  .alert {
    font-size: 1.2rem;
  }

  .card {
    padding: 1rem;
    border-top: solid 10px var(--color01);
    border-bottom: solid 10px var(--color01);
  }

  .btn-more {
    padding: 1rem;
    font-size: 2rem;
    border: solid 2px var(--color01);
  }

}

/** Pc Screen */
@media only screen and (min-width: 1366px) {
  .form-control {
    height: 6vh;
    font-size: 1.7rem;
  }

  .btn-search {
    font-size: 1.7rem;
  }

  .btn-search:hover {
    background-color: var(--color02);
    border: solid 2px var(--color01);
    color: var(--color01);
    transition: all .3s;
  }

  .alert {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .alert i {
    margin-left: .5rem;
  }

  .card {
    margin-top: 3rem;
    width: 40%;
    height: 30rem;
  }

  .card-img {
    max-height: 18rem;
  }

  .card-p {
    font-size: 3rem;
  }

  .btn-more {
    transition: all .5s ease;
    font-size: 1.2rem;
    padding: .5rem;
  }

  .btn-more:hover {
    border: solid 2px var(--color01);
    background-color: var(--color02);
    color: var(--color01);
  }


}



/* View:::: Search Page= Cards */

.back-contain {
  padding: 1rem;
}

.btn-back {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font02);
  padding: 0 3rem;
  background-color: var(--color01);
  border: solid 2px var(--color01);
  color: var(--color02);
}

.btn-back:hover {
  background-color: var(--color02);
  color: var(--color01);
  transition: all 300ms ease;
}

.card-country {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: var(--font02);
  display: flex;
  flex-direction: column;
  background-color: var(--color02);
  color: var(--color01);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: solid 3px var(--color01);
}

.card-flag {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: .3rem;
}

.card-flag img {
  margin-top: .5rem;
  width: 95%;
  border-bottom: solid 1px #000;
}

.card-data-country {
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.card-data-country i {
  margin-right: .5rem;
}

.card-data-country li {
  list-style: circle;
  margin-left: 3rem;
}

.card-data-country h2 {
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--color01);
  color: var(--color02);
}

.card-data-country p {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-data-country span {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .btn-back {
    font-size: 2.5rem;
  }

  .card-data-country h2 {
    font-size: 3.2rem;
  }

  .card-data-country p {
    font-size: 3rem;
  }

  .card-data-country span {
    font-size: 2.5rem;
  }

  .card-data-country li {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1366px) {

  .btn-back {
    font-size: 1.6rem;
  }

  .card-country {
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  .card-flag {
    width: 50%;
    padding: 1rem;
  }

  .card-flag img {
    width: 100%;
    max-height: 25rem;
  }

  .card-data-country {
    width: 45%;
  }

  .data-country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-data-country h2 {
    font-size: 2.5rem;
  }

  .card-data-country p {
    font-size: 1.8rem;
  }

  .card-data-country span {
    font-size: 1.6rem;
  }

  .card-data-country li {
    font-size: 1.3rem;
  }
}

.head-card {
  font-family: var(--font02);
  display: flex;
  justify-content: space-between;
  padding: .3rem;
  background-color: #716F81;
  color: #FFFFFF;
}

.info-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  width: 60%;
  font-size: 1rem;
  color: var(--color02);
}

.info-one h2 {
  color: var(--color02);
  font-size: 1.3rem;
}

.info-one h3 {
  font-size: 1rem;
}

.info-one p {
  font-size: 1rem;
}

.info-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  width: 40%;
}

.info-two p {
  font-size: .9rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .info-one h2 {
    font-size: 2.5rem;
  }

  .info-one h3 {
    font-size: 2rem;
  }

  .info-one p {
    font-size: 2rem;
  }

  .info-two p {
    font-size: 2rem;
  }

  .info-two i {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .head-card {
    width: 40%;
  }

  .card-data-country {
    width: 60%;
  }

  .info-one {
    width: 63%;
  }

  .info-two {
    width: 37%;
  }

  .info-one h2 {
    font-size: 2.2rem;
  }

  .info-one h3 {
    font-size: 1.8rem;
  }

  .info-two p {
    text-align: center;
    font-size: 1.5rem;
  }
}

/*? <------End: View:::: Search Page */


/* View:::: About */



.about-section {
  font-family: var(--font02);
  width: 80%;
  margin: 0 auto;
  color: var(--color01);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4rem;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: 7px solid var(--color01);
}

.about-section h2 {
  text-align: center;
  font-family: var(--font01);
  margin-top: 1rem;
}

.about-section h3 {
  text-align: center;
}

.about-section p {
  text-align: center;
}

.techs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.techs i {
  color: var(--color01);
  font-size: 3rem;
  padding: .5rem;
}

.contact {
  padding: .1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color01);
  color: var(--color02);
  width: 100%;
  margin-bottom: 1rem;
}

.contact-p {
  font-size: 1.7rem;
}

.contact a i {
  color: var(--color02);
  font-size: 2.2rem;
  padding: .5rem;
}

@media only screen and (min-width: 768px) {
  .about-section h2 {
    font-size: 2.5rem;
  }

  .about-section h3 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1.8rem;
  }

  @media only screen and (min-width: 1366px) {
    .contact{
      width: 40%;
    }
    
    .contact a i {
      color: var(--color02);
      font-size: 2.2rem;
      padding: .5rem;
    }
  }

}